<div>
    <br> <b><i>{{ error }}</i></b> <br>
    <h2>Name: {{user.name}}</h2>
    <div ng-show="user.location"><b>Location:</b> {{user.location}} <br></div>
    <div ng-show="user.company"><b>Company:</b> {{user.company}} <br></div>
    <div ng-show="user.email"><b>Email:</b> <a href="mailto:{{user.email}}"> {{user.email}}</a> <br></div>
    <div ng-show="user.bio"><b>Bio:</b> {{user.bio}} <br></div>
    <b>Account Created:</b> {{user.created_at | date}} <br>
    <b>Last Updated:</b> {{user.updated_at | date}} <br>
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}"> <br>
    Order:

    <select ng-model="repoSortOrder">
        <option value="+name">Name (A to Z)</option>
        <option value="-stargazers_count">Stars (descending)</option>
        <option value="+language">Language (A to Z)</option>
    </select>
</div>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Stars</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
        <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
    </tr>
    </tbody>
</table>
<br>
<a href="#/main">Back to Search</a>